In [10]:
import pandas as pd
import numpy as np

In [13]:
pd.read_excel('data/Business Account.xlsx')

,Business Account,Customer Status,Type,Partner type,Class,Class Name,Activity sector,Parent Business Account,Owner Name,Follow-up with,Postal Code,City,State,Country ID,Country Name,Created On,Last Modified On
0,C00001,Active,Customer,Partner,02FONDA,Foundation,"HEALTH - SOCIAL - Social, Associations, Founda...",NaN,2.0,NaN,69009,LYON,NaN,FR,France,2021-02-02 15:35:10.183,2023-01-04 15:51:00.977
1,C00002,Active,Customer,NaN,NaN,NaN,NaN,NaN,13.0,NaN,69005,Lyon,NaN,FR,France,2021-02-02 15:35:11.213,2021-03-24 16:25:28.393
2,C00003,Active,Customer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,Non renseigné,NaN,FR,France,2021-02-02 15:35:11.457,2021-02-18 09:58:03.387
3,C00004,Active,Customer,Partner,01SIEGE,Headquarters,"BUSINESS ADMINISTRATION - Consulting, Audit, A...",NaN,12.0,NaN,75008,PARIS,NaN,FR,France,2021-02-02 15:35:11.770,2023-08-03 11:08:03.953
4,C00005,Active,Customer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,Non renseigné,NaN,FR,France,2021-02-02 15:35:12.013,2021-02-18 09:58:03.620
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3478,C19916,Prospect,Business Account,Partner,01SIEGE,Headquarters,"MEDIA - ARTS - SPORTS - Sports, Infrastructure...",NaN,7.0,NaN,75019,Paris,NaN,FR,France,2023-07-03 17:18:35.647,2023-07-03 17:18:35.647
3479,C19917,Active,Customer,Prospect,01SIEGE,Headquarters,"HEALTH - SOCIAL - Social, Associations, Founda...",NaN,24.0,NaN,69800,Saint Priest,NaN,FR,France,2023-07-04 09:04:13.730,2023-07-24 15:25:42.843
3480,C19918,Prospect,Business Account,Prospect,01SIEGE,Headquarters,"COMMUNICATION - Marketing, Advertising, Commun...",NaN,NaN,NaN,NaN,Montréal - Paris - Toronto,NaN,FR,France,2023-07-04 10:29:57.430,2023-07-04 10:29:57.430
3481,C19986,Prospect,Business Account,Institutional partner,21ETAT,State,SECTEUR PUBLIC - Etat & ses établissements pub...,NaN,17.0,NaN,93008,Bobigny,NaN,FR,France,2023-07-05 15:37:58.080,2023-07-05 15:37:58.080
3482,C19987,Prospect,Business Account,Partner,01SIEGE,Headquarters,"MEDIA - ARTS - SPORTS - Audiovisual, Media, Pu...",NaN,7.0,NaN,75002,PARIS,NaN,FR,France,2023-07-06 12:13:13.703,2023-07-06 12:13:13.703